.right {
  float: right;
  width: 50%;
  height: 100%;
  background: white;
}

.left {
  overflow: hidden;
  background: white;
  height: 100%;
}

.left, .right {
  font-size: 100px;
}

html, body {
  height: 100%;
}

.leftParagraph {
  margin: 0;
  background: white;
  position: absolute;
  top: 50%;
  left: 25%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto Mono', monospace;
}

.rightParagraph {
  margin: 0;
  background: white;
  position: absolute;
  top: 50%;
  left: 75%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto Mono', monospace;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

h1 {
  font-family: 'Roboto Mono', monospace;
}
